body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #fff;
    color: #333;
  }
  
  .form-field {
    margin-bottom: 16px;
  }
  
  .MuiFormControl-root,
  .MuiTextField-root {
    width: 100%;
  }
  
  .MuiButtonBase-root {
    margin-top: 24px;
    background-color: #00a4a6;
    color: #fff;
  }
  
  .MuiButtonBase-root:hover {
    background-color: #008b8d;
  }
  